@model StudyFieldsViewModel


<form class="m-2" asp-action="Search" method="get">


    <div class="row ">
        <div class="col my-auto" >
            <select asp-for="FieldId" asp-items="Model.Fields" class="form-select">
                <option disabled selected hidden>-- Select A Category --</option>
            </select>
   
        </div>
        <div class="col">
            <input class="btn btn-outline-primary" value="Search" type="submit" />
            <input asp-action="Fields" class="btn btn-outline-success" value="Reset" type="submit" />
        </div>
    </div>
</form>

<div class="card-columns m-2">
    @foreach (var item in Model.StudyFields)
    {
        <div class="card">
            <div class="card-header text-bg-dark">
                <div class="row">
                    <img class="col-2" style="min-width: 40px; max-height: 40px;" src="~/assets/FieldIcons/@item.IconName" />
                    <p class="col-10" >@item.Name</p>
                </div>


            </div>

            <div class="card-body">
                <a onclick="showDetailModal('@(item.Name)', '@(item.Description)')" class="btn btn-outline-primary">More Info</a>
            </div>
        </div>
    }
</div>

<partial name="_detailModal" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script>
        function clearData(){
            $('#staticBackdrop .modal-body').html('');
        }
        function showDetailModal(title, info) {

            $('#staticBackdrop .modal-title').html(title);
            $('#staticBackdrop .modal-body').append(`<p> ${info}</p>`);
            $('#btnModal').trigger('click');

        }
    </script>
   
}



@section FieldsStyleSheet {
    @*  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/FieldsStyleSheet.css" />

}